html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

footer.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #333333;
    color: #D8D0C1;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    .logo {
        width: 32px;
    }
}
