body {
    margin-top: 80px;
}

nav.navbar {
    background-color: #333333;
    .navbar-brand .logo {
        width: 48px;
    }
    a {
        color: #D8D0C1;
        &:hover {
            color: #B7C58D;
        }
    }
    svg {
        margin-right: 0.15em;
    }
    .dropdown-menu {
        background-color: #333333;
    }
}
